.libre-baskerville-regular {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    color: white;
  }

div {
  width: 60%;
  margin: auto;
  padding: 20px;
  background-color: darkgray;
  text-align: center;
}

div > h1.libre-baskerville-regular {
  text-transform: uppercase;
}

img {
  border: 5px solid white;
  width: 90%;
}