.projectContainer {
    margin: 1rem;
    margin-right: 2rem;
}

.projectContainerOverflow {
    margin: 1rem;
    margin-right: 2rem;
    grid-column: 1/4;
}

.projectCards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 6rem;
    gap: 1rem;
    color: #CCC5B9;
    justify-items: right;
}

.projectCardsOverflow {
    margin-top: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
}

.card {
    border-radius: 12px;
    box-shadow: #252422 0px 3px 8px;
    background:#403D39;
    padding: 5px;
    width: 15rem;
    height: 23rem;
    overflow: scroll;
}

.card:hover {
    transform: scale(1.03);
    transition: all .2s;
}

.card:hover > h1 {
    text-decoration: underline;
    text-decoration-color: #EB5E28;
}

.card > img {
    height: 12rem;
    width: 100%;
    border-radius: 8px;
    box-shadow: #252422 0px 3px 8px;
    object-fit: cover;
    object-position: center;
}

.card > h1 {
    font-size: 1.5rem;
    margin: .3rem 0 1rem;
    color:#FFFCF2;
    text-align: center;
}

.card > p {
    margin: 0 .5rem;
}

.card > button {
    background: #EB5E28;
    border-radius: .25rem;
    height: 2rem;
    width: 6rem;
    margin: .5rem 1rem 0 auto;
    display: block;
    cursor: pointer;
    color:#FFFCF2;
    border: none;
}

.card > button:hover {
    color:#EB5E28;
    background: #FFFCF2;
    transition: all .2s;
}

@media (max-width: 55rem) {

    .projectCards {
       grid-template-columns: 1fr;
    }

    .projectCardsOverflow {
        grid-template-columns: 1fr 1fr;
    }
    
}

@media (max-width: 37rem) {

    .projectContainerOverflow {
        grid-column: 1;
    }

    .projectContainer, .projectContainerOverflow {
        justify-self: center;
        width: 20rem;
        margin: 0 1rem;
    }

    .projectCardsOverflow {
        grid-template-columns: 1fr;
        justify-self: center;
        margin-top: 1rem;
    }

    .projectCards {
        justify-items: center;
    }

    .card {
        width: 19rem;
        height: 32rem;
    }

    .card > img {
        height: 14.5rem;
    }

    .card > h1 {
        font-size: 2rem;
    }

    .card > p {
        font-size: 1.5rem;
    }

    .card > button {
        margin-top: .75rem;
        height: 3rem;
        width: 8rem;
        font-size: 1rem;
    }
    
}

